#about {
    .img-wave {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        bottom: -4px;
    }

    .img-circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
    }
}