@import "animation.scss";
@import "fonts.scss";
@import "header.scss";
@import "home.scss";
@import "projects.scss";
@import "project-details.scss";
@import "about.scss";

:root {
  --font-custom: "Acorn", sans-serif;
  --body-font: "gt";
  --background-color: #fffae8; //#FFF9EE
  --primary-color: #0000d6; //#0100C7
  --pink: #FFDEDE; //#FED3E2 FED0E2
  --yellow: #ffec6f;
  --blue: #f0f8fe;
  --green: #DDEB9D;
  --secondary-color: #6A606E;
  --secondary-variant-color: #6A706E;
  --pink-text: #ffadad;
  --orange-text: #ffcd91; //#ffd6a5;
  --blue-text: #c3e4f4;
  --green-text: #c3d57f;
  --purple-text: #d2cbf6; //#DEDAF3;
}

body {
  font-family: var(--font-custom);
  background-color: var(--background-color);
  color: var(--primary-color);
  height: 100vh;

  p,
  .body-font {
    font-family: var(--body-font);
  }

  .noise {
    position: fixed;
    z-index: 9999;
    top: -300%;
    left: -150%;
    height: 600%;
    width: 600%;
    -webkit-animation: grain 7s steps(10) infinite;
    animation: grain 7s steps(10) infinite;
    background-image: url(/images/noise.png);
    background-size: 200px;
    background-repeat: repeat;
    opacity: .25;
    pointer-events: none;
  }

  .gradientBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(135deg,
        #EDE7DE 0%,
        hsl(41, 96%, 78%) 25%,
        hsl(183, 100%, 91%) 50%,
        hsl(300, 70%, 70%) 100%);
    // background: linear-gradient(135deg,
    //     hsl(41, 96%, 78%) 0%,
    //     hsl(60, 90%, 75%) 25%,
    //     hsl(120, 80%, 85%) 50%,
    //     hsl(183, 100%, 91%) 75%,
    //     hsl(300, 70%, 70%) 100%);
    background-size: 200% 200%;
    animation: gradientFlow 15s ease infinite;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle at 70% 30%, transparent 0%, rgba(0, 0, 0, 0.1) 70%);
    }
  }

}