#projects {
    .project-item {
        &:hover {
            cursor: pointer;
        }

        &:nth-child(n) {
            background-color: #FED3E2;
        }

        &:nth-child(2n) {
            background-color: #ffec6f;
        }

        &:nth-child(3n) {
            background-color: #e1f0ff;
        }

        &:nth-child(4n) {
            background-color: #ffec6f;
        }

        .img-wrapper {
            display: flex;
            justify-content: center;
            margin-bottom: -30%;
            margin-top: 40px;
        }

        span {
            font-family: 'gt';
        }
    }
}