#projects {
    .project-item {
        &:hover {
            cursor: pointer;
        }

        &:nth-child(4n+1) {
            background-color: var(--pink); //FED3E2
        }

        &:nth-child(4n+2) {
            background-color: var(--yellow);
        }

        &:nth-child(4n+3) {
            background-color: var(--blue);
        }

        &:nth-child(4n+4) {
            background-color: var(--green);
        }

        .img-wrapper {
            display: flex;
            justify-content: center;
            margin-bottom: -20%;
            margin-top: 40px;
        }

        span {
            font-family: 'gt';
        }
    }
}